select{
    display: block !important;
    background-color: rgba(238, 238, 238,1) !important; 
    border: 1px solid #eee; 
}
body{
    background-color: #eeeeee ;
    font-weight:500;
    font-family: 'Open Sans Condensed', sans-serif;
}
.content-font{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.color-white{
    color: white!important;
}
.bg-color-white{
	background-color:#eee !important;
}

#background-block{
    width: 200vw;
    height: 200vh;
    opacity: 0.2;
        background-color: #5d5d5d;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translateY(-122%) translateX(-45%) rotate(45deg);
    content: "";
        overflow: hidden;
}